<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body  style="background-image:url(../../Images/LoginBackGround.jpg);     background-size: cover; color: white;">
    
    <div class="container body-content" style="width: 450px; float: right; height: 520px; color: #FFFFFF;  background-color: rgba(33, 0, 0, 0.42);    box-shadow: 6px 5px 47px rgba(0, 0, 0, 0.97); margin-right: 25px; margin-top: 25px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <b>Murtaza & Rimsha</b> E-Notice Board Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>